.form {
    max-width: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form label {
    display: flex;
    flex-direction: column;
}
.result{
    color: green;
}
.erreur {
    color: #a00;
}
