.header {
    padding: 1rem;
    background-color: var(--first-color);
}
.title {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
}

.light{
    background-color: var(--first-color);
}
.dark{
    background-color: #000;
    color: white;
}


